@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {

  font-family: Poppins;
  line-height: 1.5;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);

  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

/*Blog form*/
.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label{
  text-align: left;
  display: block;
}

.create h2{
  font-size: 20px;
  color: #5f2f3d;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button{
  background: #030202;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}